$video-bg-color: #232a34;
$main-bg-color: rgb(90, 86, 86);
$main-font: "Aboreto", cursive;
$absolute-position: absolute;
$margin-padding: 10px;
$black: black;
$white: white;

@mixin centered-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin full-wh {
  width: 100%;
  height: 100%;
}

* {
  font-family: $main-font;
  margin: 0;
  padding: 0;
}

.cal-container {
  @include centered-flex;
  background-color: grey;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;

  .flag-background {
    @include full-wh;
    position: $absolute-position;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

    video {
      @include full-wh;
      object-fit: cover;
      background: $video-bg-color;
    }
  }

  .cal-wrapper {
    @include centered-flex;
    @include full-wh;
    z-index: 999;
    flex-direction: column;
    position: $absolute-position;
    top: 3em;

    .title-wrapper {
      color: $white;
      font-size: 5em;
      padding: $margin-padding;
      text-align: center;
      -webkit-text-stroke: 1px $black;
      -webkit-text-fill-color: $white;
    }

    .days-wrapper {
      height: 800px;
      width: 1000px;
      margin-top: $margin-padding;
      color: $white;

      .weekdays {
        @include centered-flex;
        justify-content: space-between;
        margin-bottom: 5px;

        .day-name {
          text-align: center;
          width: 100%;
          background-color: $main-bg-color;
          opacity: 70%;
          font-size: 1.1em;
        }
      }

      .week {
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        .day {
          border: 1px solid $white;
          height: 90px;
          background-color: $main-bg-color;
          opacity: 70%;
          font-size: 30px;
          padding: 5px;
          transition: 0.3s ease-in-out;

          &:hover {
            color: $black;
            background-color: $white;
          }
        }
      }
    }
  }
}
